@font-face {
  font-family: RussoOne;
  src: url("RussoOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: RussoOne !important;
  background-color: #e4e9ef;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "navigation navigation"
    "section1 section2 ";

  height: 100vh;
  width: 100%;
}

.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "nav1 nav2 nav3";
}

.nav-logo {
  grid-area: nav1;
  align-self: center;
  margin-top: 4px;
  margin-left: 100px;
}

/*============
  MEGA MENU
============*/

.nav-content {
  grid-area: nav2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.nav-content a {
  float: left;
  font-size: 17px;
  color: #000000;
  text-align: center;
  padding: 29px 11px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #000000;
  padding: 29px 11px;
  background-color: inherit;
  font: inherit;
  margin: 0;
  cursor: pointer;
}

.nav-content a:hover,
.dropdown:hover .dropbtn {
  color: #d7287e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4e9ef;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  background-color: #e4e9ef;
  height: 250px;
}

.column a {
  float: none;
  color: #000000;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ffffff;
}

#img-man {
  background-image: url("/images/menu-man.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#img-woman {
  background-image: url("/images/menu-woman.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#img-child {
  background-image: url("/images/menu-child.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-content .icon {
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  #img-man,
  #img-woman,
  #img-child {
    background-size: cover;
  }
}

@media screen and (max-width: 600px) {
  #img-man,
  #img-woman,
  #img-child {
    display: none;
  }

  .column {
    width: 100%;
    height: auto;
  }

  .nav-content a,
  .dropdown .dropbtn {
    display: none;
  }
  .nav-content a.icon {
    float: right;
    display: block;
    font-size: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
  }
}

@media screen and (max-width: 600px) {
  .nav-content {
    display: block;
  }

  .nav-content.responsive {
    position: relative;
  }
  .nav-content.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-content.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-content.responsive .dropdown {
    float: none;
  }
  .nav-content.responsive #first-dropdown {
    margin-top: 29px;
  }
  .nav-content.responsive .dropdown-content {
    position: relative;
  }
  .nav-content.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.nav-cart {
  grid-area: nav3;
  display: flex;
  align-items: center;
}

.nav-cart .cart-quantity {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  padding-top: 7px;
  margin-left: 6px;
}

#section1 {
  grid-area: section1;
  align-self: center;
  padding-left: 100px;
}

#section1 h1 {
  color: #d7287e;
  font-size: 60px;
  margin-bottom: 30px;
}

#section1 p {
  color: #d7287e;
  font-size: 40px;
}

#section1 .btn {
  margin-top: 50px;
}

.btn-primary,
.btn-secondary {
  text-decoration: none;
  font-size: 17px;
  transition: all 0.8s ease;
  border-radius: 5px;
}

.btn-primary {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid #000000;
  padding: 10px 15px;
}

.btn-secondary {
  background-color: #e4e9ef;
  color: #000000;
  border: 3px solid #000000;
  padding: 10px 40px;
  margin-left: 55px;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #d7287e;
  color: #ffffff;
  border: 3px solid #000000;
}

#section2 {
  grid-area: section2;
  background-image: url("/images/home_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 35px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    grid-template-areas:
      "navigation"
      "section1";
  }
  #section1 {
    text-align: center;
    padding: 0;
  }
  #section2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    grid-template-areas:
      "nav1 nav3"
      "nav2 nav2";
  }

  .nav-logo {
    margin-left: 15px;
  }

  .nav-cart {
    justify-content: right;
  }

  .nav-cart .cart-quantity {
    margin-right: 20px;
  }

  #section1 .btn {
    display: flex;
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    margin-left: 60px;
    margin-right: 60px;
  }
  .btn-secondary {
    margin-top: 17px;
    margin-bottom: 17px;
  }
}
